{$DOMAIN_SCHEME}://user-service.{$DOMAIN_NAME} {
    @appOrigin header Origin https://app.uat.kumbhsahaiyak.xyz

    handle @appOrigin {
        reverse_proxy user_service:3000 {
            header_down Access-Control-Allow-Origin "https://app.uat.kumbhsahaiyak.xyz"
        }
    }
    reverse_proxy user_service:3000 {
        header_down Strict-Transport-Security "max-age=31536000;"
        header_down x-xss-protection "1; mode=block"
        header_down x-frame-options "SAMEORIGIN"
        header_down X-Content-Type-Options "nosniff"
        header_down Cache-Control "max-age=2628000, public"
        header_down Referrer-Policy "no-referrer-when-downgrade"
        header_down Content-Security-Policy "upgrade-insecure-requests"
        header_down Permissions-Policy "geolocation=(), midi=(), notifications=()"
        header_down Access-Control-Allow-Methods "GET, POST, PATCH"
        header_down Access-Control-Allow-Origin "https://user-service.uat.kumbhsahaiyak.xyz"
    }
}